/* */


*{
    margin: 0;
    padding: 0;
}

/* Box sizing style for all elements. This tells the browser to use the alternative border box model. Size will display actual size of element minus padding and border. */
html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }

/* End Box sizing style for all elements */  
.wrapper{
    width: 100%;
}

.img-banner{
    display: none;
}



.img-info{
    width: 100%;
}
/*notice that this grouped class rule restricts h2 styling only to h2 elements that are in a container that also has the class .img-info... otherwise all h2 elements on the page will be styled this way*/
.img-info h2{
    padding: 30px 30px 20px;
    font-family: arial;
    font-size: 50px;
    color: #111;
    line-height: 44px;
}

.img-info p{
    padding: 0px 30px 20px;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 24px;
    
}

.img-kitchen{
    width: 100%;
}

/*Media query: these css rules apply only when screen size is at least 768 px (iPad)*/

@media only screen and (min-width: 768px) {
    .img-banner{
        display: block;
        width: 100%;
        padding-bottom: 30px;
    }
    .wrapper{
        width: 600px;
        margin: 0 auto;
    }

        .img-info h2{
            padding: 20px 0px 0px;
            font-size: 50px;
            color: #111;
            line-height: 44px;
        }
        
        .img-info p{
            padding: 20px 0px 0px;
            
        }
        .img-kitchen{
            padding-top: 30px;
            width: 100%;
        }
/*Media query: these css rules apply only when screen size is at least 1000 px (desktop)*/

        @media only screen and (min-width: 1000px) {
            .wrapper{
                width: 1000px;
                
            }
            .img-info{
                width: 50%;
                float: left;
            }

             .img-info h2{
                padding: 20px 0px 0px 30px;
                font-size: 50px;
                color: #111;
                line-height: 44px;
        }
        
            .img-info p{
                padding: 20px 0px 0px 30px;
            
            }

            .img-kitchen{
                padding-top: 0px;
                width: 50%;
                float: right;
            }
           
        }
    
}